<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="description" content="An interactive beat creator">
	<title>Beatmaker</title>
	<link rel="stylesheet" href="css/index.css">
</head>

<body>
	<header>
		<h1>Beatmaker 🔥🔥</h1>
	</header>
	<main>
		<div class="audio-elements">
			<div class="instruments">
				<h2>Instruments</h2>
				<audio src="audio/instruments/kick.mp3" type="audio/mp3" controls="controls" data-sound-category="instrument" data-instrument="kick"> Your browser does not support the <code>audio</code> element.</audio>
				<audio src="audio/instruments/clap.mp3" type="audio/mp3" controls="controls" data-sound-category="instrument" data-instrument="clap"></audio>
				<audio src="audio/instruments/hat.mp3" type="audio/mp3" controls="controls" data-sound-category="instrument" data-instrument="hat"></audio>
				<audio src="audio/instruments/snare.mp3" type="audio/mp3" controls="controls" data-sound-category="instrument" data-instrument="snare"></audio>
				<audio src="audio/instruments/perc.mp3" type="audio/mp3" controls="controls" data-sound-category="instrument" data-instrument="perc"></audio>
				<audio src="audio/instruments/perc2.mp3" type="audio/mp3" controls="controls" data-sound-category="instrument" data-instrument="perc2"></audio>
				<audio src="audio/instruments/perc3.mp3" type="audio/mp3" controls="controls" data-sound-category="instrument" data-instrument="perc3"></audio>
				<audio src="audio/instruments/bass.mp3" type="audio/mp3" controls="controls" data-sound-category="instrument" data-instrument="bass"></audio>
				<audio src="audio/instruments/bass2.mp3" type="audio/mp3" controls="controls" data-sound-category="instrument" data-instrument="bass2"></audio>
				<audio src="audio/instruments/808.mp3" type="audio/mp3" controls="controls" data-sound-category="instrument" data-instrument="bass3"></audio>
				<audio src="audio/instruments/vox.mp3" type="audio/mp3" controls="controls" data-sound-category="instrument" data-instrument="vox"></audio>
				<audio src="audio/instruments/vox2.mp3" type="audio/mp3" controls="controls" data-sound-category="instrument" data-instrument="vox2"></audio>
				<audio src="audio/instruments/vox3.mp3" type="audio/mp3" controls="controls" data-sound-category="instrument" data-instrument="vox3"></audio>
				<audio src="audio/instruments/vox4.mp3" type="audio/mp3" controls="controls" data-sound-category="instrument" data-instrument="vox4"></audio>
				<audio src="audio/instruments/horn.mp3" type="audio/mp3" controls="controls" data-sound-category="instrument" data-instrument="fx"></audio>
				<audio src="audio/instruments/fx.mp3" type="audio/mp3" controls="controls" data-sound-category="instrument" data-instrument="fx2"></audio>
			</div>

			<div class="loops">
				<h2>Loops</h2>
				<audio src="audio/loops/happy.wav" type="audio/wav" controls="controls" data-sound-category="loops" loop></audio>
				<audio src="audio/loops/walkit.mp3" type="audio/mp3" controls="controls" data-sound-category="loops" loop></audio>
				<audio src="audio/loops/plug.wav" type="audio/wav" controls="controls" data-sound-category="loops" loop></audio>
				<audio src="audio/loops/congrats.wav" type="audio/wav" controls="controls" data-sound-category="loops" loop></audio>
				<audio src="audio/loops/godsplan.mp3" type="audio/mp3" controls="controls" data-sound-category="loops" loop></audio>
				<audio src="audio/loops/organ.wav" type="audio/wav" controls="controls" data-sound-category="loops" loop></audio>
				<audio src="audio/loops/bankaccount.mp3" type="audio/mp3" controls="controls" data-sound-category="loops" loop></audio>
			</div>
		</div>
		<div class="audio-buttons"></div>

		<div class="audio-controls">
			<header>
				<h3>Loop player</h3>
			</header>
			<div class="audio-control-buttons">
				<button id="prev-button" name="previous" type="button">
			<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 487.91 487.91" width="14px" height="14px"><path d="M464.923 19.725c12.696 0 22.987 10.29 22.987 22.985v402.253c0 12.694-10.291 22.987-22.987 22.987L91.403 261.075s-17.239-17.238 0-34.477c17.239-17.24 373.52-206.873 373.52-206.873zM76.821 443.271c0 13.76-11.155 24.915-24.915 24.915H24.915C11.155 468.186 0 457.031 0 443.271V44.639c0-13.761 11.155-24.915 24.915-24.915h26.991c13.76 0 24.915 11.155 24.915 24.915v398.632z" fill="#000"/></svg></button>
				<button id="play-button" name="play" type="button"> <svg width="24" height="24" viewbox="210 14 21 24" xmlns="http://www.w3.org/2000/svg" class="play-icon"><path fill="#000" fill-rule="evenodd" d="M230.677 25.815L210 37.63V14"/></svg></button>
				<button id="stop-button" name="stop" type="button" class="hidden"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 36 36" width="24" height="24"><path d="M35 0H1C.448 0 0 .447 0 1v34c0 .553.448 1 1 1h34c.552 0 1-.447 1-1V1c0-.553-.448-1-1-1z" fill="#000"/></svg></button>
				<button id="next-button" name="next" type="button">
			<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 487.913 487.913" width="14" height="14"><path d="M22.987 468.187C10.291 468.187 0 457.896 0 445.202V42.949c0-12.695 10.291-22.988 22.987-22.988l373.519 206.875s17.239 17.238 0 34.477C379.268 278.552 22.987 468.187 22.987 468.187zM411.09 44.64c0-13.76 11.155-24.915 24.915-24.915h26.993c13.76 0 24.915 11.155 24.915 24.915v398.633c0 13.76-11.155 24.915-24.915 24.915h-26.993c-13.76 0-24.915-11.155-24.915-24.915V44.64z" fill="#000"/></svg></button>
			</div>
			<!-- <label for="bpm">BPM</label>
			<input id="bpm" name="bpm" type="number" min="60" max="240" value="130"> -->
		</div>

		<h3 class="user-counter"></h3>
	</main>

	<script src="js/buffer-loader.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/index.js"></script>
</body>

</html>