@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700');
* {
    box-sizing: border-box;
}

body {
    background-color: #151515;
    color: #fff;
    font-size: 16px;
    font-size: 1em;
    font-family: 'Titillium Web', sans-serif;
}

header {
    text-align: center;
}

main {
    margin: 32px auto;
    margin: 1em auto;
}

.audio-elements.hidden {
    display: none;
}

.audio-elements>div {
    max-width: 73%;
    margin: auto;
}

.audio-buttons {
    max-width: 486px;
    max-width: 30.4em;
    margin: auto;
}

@supports (display: flex) {
    .audio-buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.sound-button {
    width: 112px;
    height: 112px;
    height: 7em;
    width: 7em;
    margin: 0.3em;
    background-color: #313131;
    color: #fff;
    text-transform: capitalize;
    border-radius: 5px;
    transition: 0.2s ease;
    font-size: 1em;
    font-size: 16px;
    touch-action: manipulation;
}

@media (max-width: 400px) {
    .sound-button {
        width: 104px;
        height: 104px;
        height: 6.5em;
        width: 6.5em;
    }
}

.sound-button:hover {
    background-color: #444444;
}

@media (max-width: 767px) {
    .sound-button:hover {
        background-color: #313131;
    }
}

.sound-button:focus {
    border: 2px solid #E63946;
}

.sound-button.active {
    background-color: #E63946;
}

.audio-controls {
    margin: 32px auto;
    margin: 2em auto;
    text-align: center;
    visibility: hidden;
}

#play-button, #stop-button {
    margin: 0 32px;
    margin: 0 2em;
    height: 24px;
}

#play-button.hidden, #stop-button.hidden {
    display: none;
}

.audio-controls h3 {
    font-size: 1.05em;
    font-weight: 500;
}

.audio-controls svg {
    transition: 0.1s ease;
}

.audio-controls svg path {
    fill: #cecdcd;
}

.audio-controls svg:hover path, .audio-control-buttons button:focus svg path {
    fill: #fff;
}

.audio-controls svg:hover, .audio-control-buttons button:focus svg {
    transform: scale(1.15);
}

.audio-controls.active {
    visibility: visible;
}

@supports (display: flex) {
    .audio-control-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.incoming-text.hidden {
    display: none;
}

.incoming-text.animated {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3em;
    animation: fly-in 2s;
    transform: translate(-50%, -50%);
    opacity: 0;
}

@keyframes fly-in {
    0% {
        transform: scale(100);
        opacity: 0;
    }
    40% {
        transform: translate(-50%, -50%) scale(0.9);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}

/* Reset button styles */

button {
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

button {
    outline: none;
}

input[type="button"]::-moz-focus-inner {
    border: 0;
}

input::-moz-focus-inner, button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.loader {
    display: none;
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loader.show {
    display: block;
}

.loader .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.loader-text {
    width: 9em;
    width: 144px;
    text-align: center;
    position: absolute;
    top: 56px;
    top: 3.5em;
    right: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.loader .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.loader .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.loader .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.loader .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.loader .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.loader .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.loader .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.loader .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.loader .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.loader .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.loader .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.loader .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.loader .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.loader .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.loader .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.loader .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.loader .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.loader .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.loader .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.loader .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.loader .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.loader .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.loader .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
    0%, 100%, 39% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

@keyframes sk-circleFadeDelay {
    0%, 100%, 39% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}
